 @media screen and (max-width: 1024px) and (min-width: 321px){}

 .burger {
  display: none;
} 


.contaiter_all {
    width: 1024px;
    margin: 0 auto;
}

header {
    height: 768px;   
    border: 1px solid black;
}

.fones a {
    display: block;
    width: 112px;
    height: 60px;
    line-height: 32px;
    text-decoration: none;
    color: white;
    font-size: 13px;
}

ul {
  display: flex;
  list-style-type: none;
}

li.fones {
 height: 64px;
}

nav li.fones:hover{
  border-bottom: 3px solid #BABBC5;
  width: 112px;
  color: white;
}

li.fones a:hover {
  color: white;
}

nav li.fones:active {
  border-bottom: 3px solid #e71414;
  width: 112px;
  color:#e71414
}

li.fones a:active {
  color: #e71414
}

.fones {
    width: 112px;
    height: 28px;
    margin: 36px 0 36px 0;
    text-align: center; 
    font-size: 12px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}


.buffer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 20px 0 20px;
    position: relative;
}

.logo {
    width: 226.35px;
    display: flex;
    margin-top: 38px;
}

.line {
    width: 984px;
    margin: 0px 20px 0px 20px;
    border: 1px solid #BABBC5 ;
    background-color: #BABBC5;
}

.hpar {
    width: 984px;
    height: 215.86px;
    margin: 157px 20px 0 20px; 
    display: flex;
    flex-direction: column;
}

.hpar h1.headers {
    font-size: 48px;
    width: 984px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 900;
    color: white;
}

p.headers {
    width: 984px;
    height: 42px;
    margin: 48.86px 0px 0 0px;
    padding: 0 110px 0 110px;
    line-height: 23px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    vertical-align: center;
    color: white;
}

.but {
    display: flex;
    width: 1024px;
    margin: 91.57px 0 0 0;
    justify-content: center;
  }
  
.button1 {
    text-align: center;
    font-family: 'Raleway';
    font-weight: 900;
    width: 313.15px;
    height: 77.58px;
    background-color: rgb(255,67,67);
    color: white;
    font-size: 24px; 
    border: 1px solid #9e2325;
    z-index: 1;
}
  
.button1:hover {
    background-color: #e71414;
    border: 3px solid #e71414;
    transition-duration: 0.5s;
    opacity: 1;
  }
  
.button1:active {
    background-color: rgb(255,67,67);
    border: 3px solid rgb(255,67,67);
    transition-duration: 0.5s;
    opacity: 1;
    box-shadow: 0px 0px 15px 1px rgb(255,67,67);
}
  

.backrgaund {
    background: url(../img/plan/header/table.svg);
    position: absolute;
    width: 1024px;
    height: 768px;
    z-index: -1;
}
    
.backfone{
    position: absolute;
    width: 1024px;
    height: 768px;
    background: #252B49;
    opacity: 0.8;
    mix-blend-mode: normal;
    z-index: -1;
}
    






.first_section{
      height: calc(682px - 75px);
      margin-top: 87px;
}
    
.container_fcection {
      width: 1024px;
      height: 717px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 0 20px;  
}
    
.block_f {
      width: 984px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
}
    
.block_t {

      width: 984px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 140px;
}
    
.s1, .s2, .s3, .s4, .s5, .s6 {
      width: 315px;
      height: 85px; 
      
}
    
.pic1 {
      width: 85px;
      height: 85px;
      margin-left: 120px;
      margin-bottom: 40px;
}


    
.headerm {
      text-align: center;
      font-family: 'Raleway';
      font-weight: 900;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 35px;
}
    
.headerr {
      width: 315px;
      height: 60.55px;
      margin-top: 25px;
      text-align: center;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
}

#sect1img, #sect2img, #sect3img, #sect4img, #sect5img, #sect6img{
  width: 96%;
  height: 96%;
}












.second_section {
  display: grid;
  grid-template-columns: repeat(4, 256px);
  grid-template-rows: repeat(2, 230px);
  grid-gap: 2px;
}


.second_section .work_box {
  overflow: hidden;
}

.second_section .work_box div{
  transform: scale(1.01);
  width: 100%;
  height: 100%;
}

.sector3 {
  width: 256px;
  height:230px;
  display: grid;
}

.sector3:hover {
background-color: #f9605e;
opacity: 0.8;
transition-delay: 0.2s;
}

.ones {
  background-image: url(../img/8/work_1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.ones::after {
  content: 'Project Name';
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding-top: 110px;
  background-color: #f9605e;
  transition-duration: 1s;
  opacity: 0;
}
.ones:hover::after {
  opacity: 0.8;
}
.ones:active::after {
  background-color: #c13533;
  transition-duration: 1s;
}

.twos {
  background-image: url(..//img/8/work_2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.twos::after {
  content: 'Project Name';
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding-top: 110px;
  background-color: #f9605e;
  transition-duration: 1s;
  opacity: 0;
}
.twos:hover::after {
  opacity: 0.8;
}
.twos:active::after {
  background-color: #c13533;
  transition-duration: 1s;
}

.trees {
  background-image: url(../img/8/Rectangle\ 17.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.trees::after {
  content: 'Project Name';
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding-top: 110px;
  background-color: #f9605e;
  transition-duration: 1s;
  opacity: 0;
}
.trees:hover::after {
  opacity: 0.8;
}
.trees:active::after {
  background-color: #c13533;
  transition-duration: 1s;
}

.fours {
  background-image: url(../img/8/work_4.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.fours::after {
  content: 'Project Name';
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding-top: 110px;
  background-color: #f9605e;
  transition-duration: 1s;
  opacity: 0;
}
.fours:hover::after {
  opacity: 0.8;
}
.fours:active::after {
  background-color: #c13533;
  transition-duration: 1s;
}

.fives {
  background-image: url(../img/8/work_5.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.fives::after {
  content: 'Project Name';
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding-top: 110px;
  background-color: #f9605e;
  transition-duration: 1s;
  opacity: 0;
}
.fives:hover::after {
  opacity: 0.8;
}
.fives:active::after {
  background-color: #c13533;
  transition-duration: 1s;
}

.sixs {
  background-image: url(../img/8/work_6.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.sixs::after {
  content: 'Project Name';
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding-top: 110px;
  background-color: #f9605e;
  transition-duration: 1s;
  opacity: 0;
}
.sixs:hover::after {
  opacity: 0.8;
}
.sixs:active::after {
  background-color: #c13533;
  transition-duration: 1s;
}

.sevets {
  background-image: url(../img/8/work_7.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.sevets::after {
  content: 'Project Name';
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding-top: 110px;
  background-color: #f9605e;
  transition-duration: 1s;
  opacity: 0;
}
.sevets:hover::after {
  opacity: 0.8;
}
.sevets:active::after {
  background-color: #c13533;
  transition-duration: 1s;
}

.eights {
  background-image: url(../img/8/work_8.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.eights::after {
  content: 'Project Name';
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding-top: 110px;

  background-color: #f9605e;
  transition-duration: 1s;
  opacity: 0;
}
.eights:hover::after {
  opacity: 0.8;
}
.eights:active::after {
  background-color: #c13533;
  transition-duration: 1s;
}




.section_tree {
padding-left: 20px;
}


h4.backfon {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 24px;
  color: white;
  margin-top: 110px;
}

h5.backfon {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-top: 20.57px;
  height: 60px;
}

.backfone2 {
  background-image: url(../img/work_3.jpg);
}








.sector4 img {
    height: 227px;
  }


.section_tree {
  display: flex;
  margin-top: 77px;
  padding-right: 20px;
  justify-content: space-between;
}

.links1, .links2, .links3, .links4 {
  display: flex;
}



#one {
  font-size: 18px;
  font-family:'Raleway';
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0px;
  line-height: 21.13px;
}

#two {
  margin-top: 5.29px ;
  text-transform: uppercase;
  color: #ff4343;
  font-size: 14px;
  font-family:'Raleway';
  font-weight: 400;
  line-height: 16.44px;
}

#tree {
  font-size: 14px;
  font-family:'Raleway';
  font-weight: 400;
  color: #6C7279;
  margin-bottom: 0rem;
  line-height: 16.44px;
  margin-top: 17.86px;
}


.sekt1, .sekt2, .sekt3, .sekt4 {
  width: 227px;
}

.links1, .links2, .links3, .links4 {
  margin: 40px 0 0 0;
}

#alt1 {
  margin: 0 5px 0 0;
}


#alt1 img {
  width: 33px;
  height: 33px;
}








.slide {
  width: 1024px;
  height: 332px;
  
  margin-top: 78px;
}

.d-block {
  width: 1024px;
  height: 332px;
  box-sizing: border-box;
}


.combinepict {
  display: flex;
  position: relative;
}

.combinepict img {
  width: 100%;
  height: 332px;
  object-fit: cover;
  overflow: hidden;
}

#screencarousel {
  background-image: url(../img/bg\ \(2\).svg);
}
.section_four {
  padding: 0;
}

#spancarousel1 {
  display: block;
  
  margin-left: 450px;
  margin-top: -220px ;
}

.d-md-block h5 {
  width: 330px;
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  color: white;
  font-size: 24px;
  text-align: left;
}

.d-md-block p {
  width: 330px;
  height: 28px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 15px;
}










.section_five {
  height: calc(392px - 9.49px - 20px);
  }
  
  .h3block{
  padding: 111px 0 0 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  
  .h5block {
  max-height: 70px;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  }
  
  .but2 {
    display: flex;
    width: 1024px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .button2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 900;
    margin-top: 35px;
    width: 313px;
    height: 80px;
    background-color: rgb(255,67,67);
    color: white;
    font-size: 18px; 
    border: 1px solid #e71414;
  }
  
  .button2:hover {
    background-color: #e71414;
    border: 3px solid #e71414;
    transition-duration: 0.5s;
    opacity: 1;
  }
   
  .button2:active {
    background-color: rgb(255,67,67);
    border: 1px solid rgb(255,67,67);
    transition-duration: 0.5s;
    opacity: 1;
    box-shadow: 0px 0px 15px 1px #e71414;
  }

    




     .footers {
      height: 230px;
      }
      
      .fblock {
        width: 370px ;
        display: flex;
        flex-direction: column;
        padding-right: 55px;
      }
      
      
      
      .sblock {
        display: flex;
        flex-direction: column;
        width: 370px;
      }
      
      .jblock {
        width: 370px ;
        display: flex;
        flex-direction: column;
        padding-left: 60px;
      }
      
      
      .last1 {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        width: 100%;
        margin-top: 50.14px;
        text-align: center;
        line-height: 16.44px;
        
      }
      
      
      
      .last2{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        line-height: 16.44px ;
        margin-top: 10px;
        color: white;
        text-align: center;
        width: 370px;
        position: relative;
        left: -8.5%;
      }
      
      
      
      .last3{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        margin-top: 16.44px;
        color: white;
        text-align: center;
        width: 100%;
      }
      
      
      
      .twitt {
        display: grid; 
      }
      
      .second_link {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      
      #span {
        display: block;
        width: 315px ;
        height: 48px ;
        text-align: center;
        margin-left: 23px;
      }
      
      #alt{
        margin-right: 8px;
        margin-left: 8px;
        margin-top: 5px;
      }

      #alt img {
        width: 90%;
        height: 90%;
      } 
      
      .last3.two{
        color: #808080;
        width: 314px;
        height: 32px;
      }
      
      .newspan {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        width: 100%;
        line-height: 16.44px;
        margin-top: 28.71px;
        color: white;
      }
      
      
      
      .block3 {
        background-image: url(../img/up.svg);
        display: flex;
        flex-direction: row;
        height: 169px;
        justify-content: space-evenly;
        padding: 0 20px 0 20px;
        
        
      }
      .block4 {
        height: 60.7px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/down.svg);
      }


  